<ol class="breadcrumb">
  <li><%= link_to "Step 1", step1_wizard_path %></li>
  <li><%= link_to "Step 2", step2_wizard_path %></li>
  <li><%= link_to "Step 3", step3_wizard_path %></li>
  <li class="active" id="step4">Step 4</li>
</ol>

<div class="row">
  <div class="col-md-4">
    <img src="https://ez.no/var/ezflow_site/storage/images/media/images/developer-girl4/677094-1-eng-GB/Developer-girl.png" class="animation">
  </div>
  <div class='col-md-8 form-group'>
    <h2>Social links & CV</h2>
    <%= simple_form_for @user_wizard, as: :user_wizard, url: validate_step_wizard_path do |f| %>
      <%= f.error_notification %>
      <%= hidden_field_tag :current_step, 'step4' %>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :github, :label => 'Github url' %>
          <%= f.input :linkedin, :label => 'LinkedIn url' %>
          <%= f.input :stackoverflow, :label => 'StackOverflow url' %>
        </div>
        <div class="col-md-6">
          <%= f.input :blog, :label => 'Personal website/Blog' %>
          <%= f.input :twitter, :label => 'Twitter url' %>
          <%= f.input :skype, :label => 'Skype Id' %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <%= f.simple_fields_for :attached_files do |af| %>
            <%= af.input :file, as: :file, label: false, required: true, type: "file", :label => "Upload CV" %>
          <% end %>
        </div>
        <div class="col-md-6">
          <div class="pull-right">
            <%= button_tag(type: 'submit', class: "btn btn-success") do %>
              <span><i class="glyphicon glyphicon-send"></i>Submit Application</span>
            <%end%>  
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
