<ol class="breadcrumb">
  <li><%= link_to "Step 1", step1_wizard_path %></li>
  <li><%= link_to "Step 2", step2_wizard_path %></li>
  <li class="active" id="step3">Step 3</li>
  <li>Step 4</li>
</ol>

<div class="row">
  <div class="col-md-6">
    <img src="https://www.sagipl.com/images/PHP-Developer-Team.png">
  </div>
  <div class='col-md-6 form-group'>
    <h2>Professional Details</h2>
    <%= simple_form_for @user_wizard, as: :user_wizard, url: validate_step_wizard_path do |f| %>
      <%= f.error_notification %>
      <%= hidden_field_tag :current_step, 'step3' %>
      <%= f.input :first_name, :label => 'Current Employer' %>
      <%= f.input :last_name, :label => 'Total Experience(Years)' %>
      <%= f.input :email, :label => 'Relevant Experience(Years)'%>
      <%= f.input :phone_number, :label => 'Current CTC(LPA)' %>
      <%= f.input :address_1, :label => 'Expected CTC(LPA)' %>
      <%= f.input :address_2, :label => 'Notice Period(Days)' %>
      <%= f.input :zip_code, :label => 'Prefered Work location' %>
      <%= f.input :city, :label => 'Reason for Job Change' %>
      <div class="pull-right">
        <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
          <span><i class="glyphicon glyphicon-chevron-right"></i>Continue</span>
        <%end%>  
      </div>
    <% end %>
  </div>
</div>

