<ol class="breadcrumb">
  <li><%= link_to "Step 1", step1_wizard_path %></li>
  <li class="active" id="step2">Step 2</li>
  <li>Step 3</li>
  <li>Step 4</li>
</ol>

<div class="row">
  <div class="col-md-6">
    <img src="https://png2.kisspng.com/sh/ab92cfbcaee0e0c97cb1aa72759506f7/L0KzQYi4UsA3N2cATZGAYUK7cojqgcQybmY2TpCCMkG7RYa9UsE2OWM7SakEM0C1R4G5TwBvbz==/5a28b7ca41f516.7218556215126179302702.png" class="animation">
  </div>
  <div class='col-md-6 form-group'>
    <h2>Academic Details</h2>
    <%= simple_form_for @user_wizard, as: :user_wizard, url: validate_step_wizard_path do |f| %>
      <%= f.error_notification %>
        <h3>Graduation</h3>
        <%= hidden_field_tag :current_step, 'step2' %>
        <%= f.input :first_name, :label => 'University' %>
        <%= f.input :country, label: "Highest Qualification", collection: [ [ "Masters", "MT" ], [ "Bachelors", "BT" ], ], :selected => 'Masters' %>
        <%= f.input :last_name, :label => 'Grade Points' %>
        <hr>
        <h3>Schooling</h3>
        <%= f.input :email, :label => 'School' %>
        <%= f.input :first_name, :label => 'Major' %>
        <%= f.input :last_name, :label => 'Grade Points' %> 
        <hr>
        <h3>General Questions</h3>
        <%= f.input :phone_number, :lable => 'What extracurricular activities did you participate in?' %>
        <%= f.input :address_1, :label => 'What influenced your choice of college?' %>
        <%= f.input :address_2, :label => 'Do your grades reflect your potential?' %>
        <div class="pull-right">
          <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
            <span><i class="glyphicon glyphicon-chevron-right"></i>Continue</span>
          <%end%>  
        </div>
    <% end %>
  </div>
</div>
